@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
html{
    background: url(./img/F3500.jpg);
    background-size: 100% 180%; 
}

.container{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: auto;
    text-align: center;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    border: 1px solid; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 0.6rem 0 0.6rem 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    border: 1px solid;
    border-radius: 30px;


}
h2{
    color: rgb(46, 47, 48);
    border: 1px dotted ;
    border-radius: 15px;
    background: rgb(173, 255, 237);
}
span, img{
    color: red;
}
span{
    padding-top: 0.5rem;
}
a{
    text-decoration: none;

    color: rgb(12, 117, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: auto;
    margin: auto;
    text-align: center;
    

}
img {
    margin: auto;
    width: 2rem;
    position: relative;
    padding-right: 7rem;
    opacity: 0;
    display: none;
}
.lt{
    margin: auto;
    padding-right: 7rem; 
}
.container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: auto;
    text-align: center;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600; 

    
}
.container2 a {
    border: 1px dotted;
    padding: 0.7rem 0.7rem 0.5rem 0.7rem;
    background: rgb(185, 185, 185);
    border-radius: 10px;
    color: rgb(42, 142, 113);
    font-size: 1.2rem;

}
.container2 a:hover{
    background: rgb(52, 52, 52);
    border: dotted 2px;
    color: rgb(255, 255, 255);
}


.logoCont img{
    margin: auto;
    width: 70%;
    position: relative;
    padding-right: 7rem;
    opacity: 1;
    display: flex;
}
